{% extends "ProyectoWebapp/base.html" %}

{% load static %}


{%  block content %}
<div class= "container">
    <div style="float:right;">
        {% if request.user.is_authenticated %}
            {% include "carro/widget.html" %}
        {% else %}
            <div class="alert alert-danger text-center">
                Debes hacer el login para ver el Carro
            </div>
        {% endif%}
    </div>
    <div class= "container">
    <div class= "row">

    {% for producto in productos %}
        <div class= "col-md-3">
            <div id="boxshadow" class="card" style= "width: 103%; margin: 5px 5px; border-radius: 25px 25px 25px 25px;">
                <img  style="border-radius:25px 25px 0px 0px"; src={{producto.imagen.url}} class ="card-img-top;">
                    <div class="card-body" style = "text-align: center;">
                        <h2 class="card-title"> {{producto.nombre}}</h2>
                    <p class"card-text">{{producto.precio}}&nbsp; $</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn sucess "> Agregar al carro</a>
            </div>
        </div>
    </div>   
 
{% endfor %} 
</div> 
{%  endblock  %}
<style>
    #boxshadow {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 18px #888888;
    }
</style>
</div>