{% extends "ProyectoWebapp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario cta" style="background-color: #1e8fff3b;">
    {% if "valido" in request.GET %}
    <p style="color: white;"> Informacion enviada, gracias</p>
    {% endif%}
    <form action="" method="POST" style="text-align:center;">
        {% csrf_token %}
        <!--Medida de seguridad del formulario: campo oculto del secundario con codigo clave-->
        <table style="color: white; margin: 20px auto; font-family: 'Times New Roman', Times, serify;">
            {{miformulario.as_table}}
        </table>
        <input type="submit" value="Enviar" style="width: 150px">
    </form>
</div>

{% endblock %}