<!--Herencia-->
{% extends "ProyectoWebapp/base.html" %}

{% load static %}

{% block content %}
<!-- Heading -->
<section class="page-section clearfix">
  <div class="container fluid" style="font-family:Georgia, 'Times New Roman', Times, serif;">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebapp/img/imagen1  .jpg' %}"
        alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="background-color: dodgerblue">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Dar para recibir</span>
          <span class="section-heading-lower">Objetivo</span>
        </h2>
        <p class="mb-2">Reducir la cantidad de comida que se desperdicia en los restaurantes día a día, aprovechando
          este exceso para ofrecer comida económica a quienes lo requieran.
        </p>

      </div>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded" style="background-color: dodgerblue">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">Con más de 75 años de experiencia a nuestras espaldas, desde Gestión de Pedidos tenemos los
            conocimientos y herramientas necesarios para llevar cualquier objeto a la puerta de su casa con puntualidad
            y profesionalidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}